


body{
	background :url('pic/bg6.jpg') center center;

}
/*#main{

  top: 10px;
  left: 0;
  position: fixed;
  margin-left: 20px;
  margin-right: 20px;
  right: 0;
  z-index: 2;
  padding: 0 10px;
  border: green solid, 3px;

}*/

#main{
	height: 100%;
}
#board{
/*	border: solid aquamarine 5px;
	margin-left: 10%;
	width: 18%;
	display: inline-block;*/
	position:absolute;
    left:0px;
    top:0px;
    border: solid aquamarine 5px;
    z-index: 1;
}

#board2{
	position:absolute;
    left:0px;
    top:0px;
    border: solid aquamarine 5px;
    z-index: 2;
}
#dad{
	border: solid aquamarine 5px;
	margin-left: 10%;
	width: 18%;
	display: inline-block;
	position: relative;
}




#lock_delay_timer{
	margin-top: 0;
}
/*}
#main:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url('pic/bg6.jpg');
  width: 100%;
  height: 100%;
  
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}*/

#focus_message{
	display: block;
	float: right;
	margin-top: 0px;
}


#blocks{
	display: block;
	float: left;
	margin: 0;
}

#hold_slot{
	display:inline-block;
	float: right;
	width: 10%;
	border: aquamarine solid 3px;
	font-size: 30px;
	color: black
}
#hold_piece_id{
	border: tomato solid 3px;
	font-size: 30px;
}

#spin_callback{
	border: tomato solid 3px;
	display:inline-block;
	width: 10%;
	transform: translateX(50%);
}

#fps{
	position: absolute;
    right: 10px; bottom: 0;
    padding: 0;
    margin: 0;
}